@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

h1,h6,footer{
    font-family: 'Antic Slab', serif;
    text-align: center;
}
#main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 40vh;
}

footer{
    font-size: small;
}
